header,
section,
footer {
  padding: 0;
  margin: 0;
}
body {
}
.container {
  overflow: hidden;
}
a {
}
a:hover {
}
/*-------------------*/
.block-1 {
}
.logo {
  border: 1px solid #c4c4c4;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logo__img {
  width: 260px;
  height: 90px;
  overflow: hidden;
}
.logo__pic {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.phone {
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone__link {
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.phone__link:hover {
  color: black;
  text-decoration: underline;
}
.catalog {
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link-c {
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.nav-link-c:hover {
  color: black;
  text-decoration: underline;
}
.invalid {
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invalid__link {
  text-decoration: none;
  color: #fff;
}
.invalid__link:hover {
  text-decoration: underline;
  color: #fff;
}
.invalid__block {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 270px;
  background-color: #00868a;
}
.socseti {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.soc {
  height: 100%;
  width: 100%;
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc__img {
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.soc__pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*--------------------------------*/

.block__2 {
  background-color: #4fbfa5;
}
.navbar-toggler {
  margin: 10px 0;
}
.nav-item {
  font-size: 18px;
}
.nav-link {
  color: #fff !important;
}
.nav-link:hover {
  font-weight: bold;
  color: #fff;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn-light {
  margin: 20px 0;
}
/*-----------------------------------*/
.block__3 {
  background-color: #4fbfa5;
}
.block-3 {
}
.block-3__left {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.text__title {
  margin: 20px;
  color: #fff;
  font-size: 45px;
}
.text__midle {
  margin: 20px;
  color: #fff;
  font-size: 16px;
}
.block-3__but {
  color: #fff;
  text-decoration: none;
  margin: 20px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  width: 163px;
  height: 50px;
  background-color: #00868a;
}
.block-3__but:hover {
  text-decoration: underline;
  color: #fff;
}
.block__but {
  margin: 20px;
  width: 130px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px #fff solid;
}
.but__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-right: 1px #fff solid;
}
.but__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.block-3__right {
  padding: 0 !important;
}
.carousel {
  position: relative;
}
.carousel-inner {
}
.carousel-item {
}
.d-block {
}
.carousel-control-prev {
}
.carousel-control-next {
}
.carousel-control-prev-icon {
  background-color: #00868a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.carousel-control-next-icon {
  background-color: #00868a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*--------------------------------*/
.block__4 {
  background-color: #4fbfa5;
}
.block-4 {
}
.komplex {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00868a;
  font-size: 21px;
}
.komplex__link {
  text-decoration: none;
  color: #fff;
}
.komplex__link:hover {
  text-decoration: underline;
  color: #fff;
}
.centr {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
.centr__link {
  text-decoration: none;
  color: #fff;
}
.centr__link:hover {
  text-decoration: underline;
  color: #fff;
}
.vip {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00868a;
  font-size: 21px;
}
.vip__link {
  text-decoration: none;
  color: #fff;
}
.vip__link:hover {
  text-decoration: underline;
  color: #fff;
}
/*-------------------------------*/
.block__5 {
  overflow: hidden;
  padding: 0 !important;
  margin: 50px 0;
  background-color: white;
}
.block-5 {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}
.block-5__inoveit {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #00868a;
}
.inoveit__but {
  margin: 35px 40px;
  width: 130px;
  height: 50px;
  font-size: 18px;
  background-color: #4fbfa5;
}
.inoveit__link {
  text-decoration: none;
  color: #fff;
}
.inoveit__link:hover {
  text-decoration: underline;
  color: #fff;
}
.inoveit__text {
  margin: 10px 40px;
  color: #fff;
  font-size: 30px;
}
.block-5__buts {
  width: 30%;
  margin: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inoveit__but {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.but__strelka {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: 1px #fff solid;
}
.block__podrobnee {
  padding-left: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.podrobnee__link {
  text-decoration: none;
  color: #fff;
}
.podrobnee__link:hover {
  text-decoration: underline;
  color: #fff;
}
.block-5__img {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.block-5__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-5__patent {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
}
.patent__list {
  margin: 0 !important;
  position: relative;
  width: 100%;
  height: 100%;
}
.but__patent {
  margin: 30px 0 30px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 40px;
  background-color: #4fbfa5;
}
.but__patent-text {
  color: #fff;
  font-size: 18px;
}
.patent__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.patent__number {
  color: #4fbfa5;
  padding: 20px 20px 20px 0;
  font-size: 48px;
}
.patent__text {
  color: #4fbfa5;
  font-size: 18px;
}
.patent__item-p {
  color: #00868a;
  top: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.patent__number-p {
  padding: 0 40px;
  font-size: 96px;
}
.patent__text-p {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.patent__item-b {
  color: #4fbfa5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.patent__number-b {
  color: #4fbfa5;
  padding: 20px 20px 20px 0;
  font-size: 48px;
}
.patent__text-b {
  font-size: 18px;
}
.patent__img {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.patent__pic {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/*----------------------------*/
.block__6 {
  overflow: hidden;
  background-color: #fff;
}
.block-6 {
  overflow: hidden;
}
.block-6__novosti {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #4fbfa5;
}
.block-6__but {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 40px;
  background-color: #00868a;
}
.block-6__but-text {
  color: #fff;
  font-size: 18px;
}
.block-6__why {
  padding: 40px;
  background-color: #00868a;
}
.block-6__why-text {
  color: #fff;
  font-size: 18px;
}
.block-6__why-link {
  text-decoration: none;
  color: #fff;
}
.block-6__why-link:hover {
  text-decoration: underline;
  color: #fff;
}
.block-6__recom {
}
.block-6__recom-text {
  color: #fff;
  font-size: 18px;
  padding: 40px;
}
.block-6__recom-link {
  text-decoration: none;
  color: #fff;
}
.block-6__recom-link:hover {
  text-decoration: underline;
  color: #fff;
}
.block-6__mnenie {
  padding: 0 !important;
  background-color: rgb(241, 241, 241);
}
.mnenie__zag {
  padding: 40px;
  font-size: 24px;
}
.mnenie__list {
}
.mnenie__item {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}
/*----------------------------*/
.block__7 {
  overflow: hidden;
  padding: 0 !important;
  margin: 50px 0 50px 0;
  background: linear-gradient(#c2e9eb 60%, white 40%);
}
.block-7 {
  overflow: hidden;
  padding: 0 !important;
}
.block-7__text-zag {
}
.block-7__zag {
  padding: 80px 0;
  font-size: 40px;
}
.block-7__but {
  margin: 20px;
  width: 148px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4fbfa5;
  position: absolute;
  z-index: 1;
}
.block-7__but-text {
  color: #fff;
  font-size: 18px;
}
.block-7__item {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.block-7__text {
  background-color: #00868a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-7__texttitle {
  margin: 20px;
  color: #fff;
}
.block-7__but-text-s {
  padding: 10px;
  border: 1px #fff solid;
  color: #fff;
}
.block-7__img {
  position: relative;
  width: 100%;
  height: 100%;
}
.block-7__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*--------------------------*/
.blcok__8 {
}
.block-8 {
}
.block-8__text {
}
.block-8__list {
  list-style: none;
}
.block-8__item {
  font-size: 14px;
  margin: 20px 0;
}
.block-8__item-zag {
  font-size: 21px;
}
.block-8__adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block-8__list-phone {
  list-style: none;
}
.block-8__item-phone {
  padding-bottom: 10px;
  font-size: 12px;
}
.block-8__item-number {
  font-size: 21px;
}
.block-8__number-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.block-8__number-link:hover {
  color: black;
  text-decoration: underline;
}
.block-8__list-adress {
  list-style: none;
}
.block-8__item-adress {
  padding-bottom: 10px;
  font-size: 12px;
}
.block-8__item-adress-text {
  padding-bottom: 10px;
  font-size: 21px;
}
.block-8__item-link-text {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.block-8__item-link-text:hover {
  color: black;
  text-decoration: underline;
}
.block-8__item-but {
  width: 164px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00868a;
}
.block-8__but-link {
  color: #fff;
  text-decoration: none;
}
.block-8__but-link:hover {
  color: #fff;
  text-decoration: underline;
}
.block-8__but-text {
  font-size: 14px;
  text-transform: uppercase;
}
/*--------------------------*/
.block__9 {
  overflow: hidden;
}
.block-9__footer {
  overflow: hidden;
}
.block-9__prava {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
}
.block-9__prava-text {
  padding: 30px 0;
  font-size: 12px;
}
.block-9__prava-link {
  color: black;
  text-decoration: none;
}
.block-9__prava-link:hover {
  color: black;
  text-decoration: underline;
}
.block-9__politic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
}
.block-9__politic-link {
  color: black;
  text-decoration: none;
  padding: 30px 0;
  font-size: 12px;
}
.block-9__politic-link:hover {
  color: black;
  text-decoration: underline;
  padding: 30px 0;
  font-size: 12px;
}
/*----------------------------------------*/
