* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 1300px;
  padding: 0px 6px;
  margin: 0 auto;
}
a {
  font-style: normal;
  color: black;
  text-decoration: none;
  list-style: none;
}
a:hover {
  text-decoration: underline;
}
/*======================Шапка сайта==========================*/
.header {
  background: #fff;
}
.header__container {

}
/*------------------------Контент шапки-------------------*/
.header__content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.logo {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
  
}
.logo__img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phone {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone__link{

}
.catalog {
  flex: 2 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__title {
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  padding-right: 5px;
}
.treug__img {
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #4fbfa5;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  -ms-border-radius: 70%;
  -o-border-radius: 70%;
}
.treug__pic {
  object-fit: cover;
  width: 40%;
  height: 40%;
}
.invalid {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invalid__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 8px 15px;
  background: #00868a;
}
.invalid__img{
  width: 25px;
  height: 17px;
}
.invalid__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.invalid__text{
  padding: 0 10px 0 10px;
  color: #fff;
  font-size: 14px;
}
.socseti { 
  flex: 5 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socseti__item-s {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item-s__img-s{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-s__pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*===================Основная часть сайта============================*/
.main {
}
/*--------------------Первая Секция контента--------------------------*/
.section-one {
  width: 100%;
  height: 100%;
  background: #4fbfa5;
}
.container__section-one {
}
/*------------------------Навигация сайта---------------------------*/
.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 24px 0 24px 0;
}
.navigation__list {
  flex: 10 1 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.navigation__item {
  list-style-type: square;
  color: #fff;
}
.navigation__link{
}
.navigation__record {
  padding: 10px 5px;
  flex: 0.5 1 auto;
  border: 0.5px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.record__link{
  
}
.record__text{
  
}
/*-------------------Левый блок с текстом первой секции--------------------*/
.hero-one {
  width: 100%;
  height: 100%;
  display: flex;
}
.hero-one__block {
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-one__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content__h1 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 48px;
}
.content__text {
  color: #fff;
  font-size: 14px;
}
.content__link {
}
.content__but {
  margin-top: 50px;
  font-size: 18px;
  padding: 15px 25px 14px;
  color: #fff;
  background: #00868a;
}
.content-button {
  margin: 10px 0 10px 0;
  border: 2px solid #fff;
  width: 150px;
  height: 60px;
  display: flex;
}
.content__left-link {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.content__right-link {
  color: #fff;
  border-left: 2px #fff solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/*----------------Правый блок с картинкой первой секции-----------------*/
.hero__img {
  flex: 1 1 auto;
}
.hero__pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*------------------Нижний блок услуг первой секции--------------------*/
.hero-two {
  width: 100%;
  height: 100%;
}
.hero-two__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__text-one {
  flex: 3 1 auto;
  display: flex;
  justify-content: center;
  color: #fff;
  background: #00868a;
  padding: 20px;
}
.content__text-two {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #fff;
}
.content__text-three {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #fff;
  background: #00868a;
}
.text-hero-two__link {
  color: #fff;
}
/*--------------------Втоорая секция контента----------------------------*/
.section-two {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__section-two {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
/*--------------------Левый блок второй секции----------------------------*/
.section-two__content-1 {
  display: flex;
  justify-content: space-between;
  background: #00868a;
}
.content-1__back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-1__text {
  margin: 35px;
}
.content-1__text-1 {
  width: 125px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4fbfa5;
  color: #fff;
}
.content-1__text-m {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 30px;
}
.content-1__link-1{

}
.content-1__text-2 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100px;
  height: 24px;
}
.content-1__img{
  width: 100%;
  height: 100%;
}
.content-1__pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*--------------------Правый блок второй секции----------------------------*/
.section-two__content-2 {
  display: flex;
  position: relative;
}
.content-2__back {
  padding: 0 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-2__block-but{
}
.block-but__link{

}
.block-but__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
  font-size: 18px;
  width: 186px;
  height: 40px;
  color: #fff;
  background: #4fbfa5;
}
.block__text {
  padding: 0 0 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text__number {
  color: #4fbfa5;
  font-size: 50px;
}
.text__text {
  padding-left: 20px;
  color: #4fbfa5;
  font-size: 14px;
}
.block__text-p{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 20px;
  top: 230px;
}
.text__number-p {
  color:#00868a;
  font-size: 96px;
}
.text__text-p {
  color:black;
  font-size: 20px;
}
.block__text-b {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.text__number-b {
  color: #4fbfa5;
  font-size: 50px;
}
.text__text-b {
  padding-left: 20px;
  color: #4fbfa5;
  font-size: 14px;
}
.content-2__text-img__img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.content-2__text-img__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*---------------------Третья Секция контента----------------------------*/
.section-three {
  margin-bottom: 50px;
}
.container__section-three {
  display: flex;
}
/*--------------------Левый блок третья секция----------------------------*/
.section-three__content-1 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #4fbfa5;
}
.content-1__block-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-1__title {
  margin: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00868a;
}
.title__text {
  color: #fff;
  font-size: 18px;
}
.content-1__div-1 {
  background: #00868a;
}
.content-1__div-2 {
}
.content-1__div-3 {
}
.div-1__text-1 {
  color: #fff;
  font-size: 18px;
  margin: 25px;
}
.div-2__text-2 {
  color: #fff;
  font-size: 18px;
  margin: 25px;
}
.div-3__text-3 {
  color: #fff;
  font-size: 18px;
  margin: 25px;
}
/*--------------------Правый блок третья секция----------------------------*/
.section-three__content-2 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #f7eded;
}
.content-2__block-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}
.content-2__div-1 {
  font-size: 24px;
}
.content-2__div-2 {
  padding: 10px 15px 10px 15px;
}
.content-2__li {
  list-style-type: square;
  padding: 10px;
  font-size: 14px;
}
/*------------------Четвёртая Секция контента-------------------------*/
.section-fore {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #c8e5e7ef;
}
.container__section-fore {
  display: flex;
  flex-direction: column;
}
/*-------------------Блок заголовка четвёртой секции----------------------*/
.section-fore__content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
.content-1__text-fore{
}
.content-1__title-fore{
padding: 0 0 20px 0;
}
/*------------------Блок предложений четвёртой секции----------------*/
.section-fore__content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-2__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
  background: #00868a;
}
.div__img {
  width: 100%;
  height: 100%;
}
.div__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div__item {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.item__text {
  color: #fff;
}
.item__link {
  padding: 10px 20px 10px 20px;
  color: #fff;
  border: 2px #fff solid;
}
.div__link {
  top: 20px;
  left: 30px;
  padding: 10px;
  position: absolute;
  color: #fff;
  background: #4fbfa5;
}
/*-------------------Пятая секция контента--------------------------*/
.section-five {
  display: flex;
}
.container__section-five {
  display: flex;
  justify-content: space-between;s
  align-items: flex-start;
}
/*----------------Блоки услуг пятой секции---------------------------*/
.section-five__block {
  flex: 4 1 auto;
}
.block-div {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.div__title {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.div__title__h4{
  width: 100%;
  height: 100%;
}
.block__list{
  width: 100%;
  height: 100%;
}
.list__item {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 0;
}
/*----------------Блок адрессов пятой секции---------------------------*/
.section-five__contact {
  flex: 1 1 auto;
}
.contact__svize {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0 20px 0;
}
.phone__text {
  margin: 10px 0 10px 0;
  font-size: 11px;
}
.phone__number {
  margin: 10px 0 10px 0;
  font-size: 21px;
}
.contact__adress {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 10px 0;
}
.adress__adress {
  margin: 10px 0 10px 0;
  font-size: 21px;
}
.adress__text {
  font-size: 11px;
}

.adress__link {
  margin: 20px 0 20px 0;
  color: #fff;
  padding: 15px;
  background: #00868a;
}
/*==================Подвал сайта====================*/
.footer{
  padding: 20px 0 20px 0;
  height: 100%;
  width: 100%;
  display: flex;
}
.container__footer{
  display: flex;
}
/*-----------------Блок контента подвала----------------*/
.footer__content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer__block{
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block__prava{
  flex: 1 1 auto;
}
.block__politic{
  flex: 1 1 auto;
}
